@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
}

.logo-container{
  text-align: center;
  margin: 0;
  padding: 0;
 }
.logo{
    width: 20%;
    margin-top:10px;
}
li {
    display: inline;
    margin-right: 10px; 
    color: black;
    
    
}
ul{
    list-style-type: none;
  
}

.left-column{
   width: 100%;
   margin-left: 20px;
   display: flex;
   flex-direction: column;
   justify-content: center;
    
}
.left-column-image{
    width: 100%;
    
}
.left-column-h1{
    font-size: 20px;
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
}
.middle-column{
    width: 100%;
    margin-left: 20px;
   
     }
.middle-column-img{
    width: 100%;
    
}
.middle-column-h1{
    font-size: 30px;
}
.anchor{
    color: black;
    text-decoration: none;
}
.right-column{
   width: 100%;
   margin-left: 20px;
  
}
.horizontal{
   border:  2px solid  #000000;;
}
.bottom-cards-imgs{
    width: 100%;
}
.bottom-cards{
    width: 46%;
    margin-left: 2%;

}
.footer-section{
    margin:5% 1%;
}
.footer-p{
    font-weight: bolder;
}
.icons{
    font-size: 20px;
    margin-left: 5px;
}

.footer-section ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}
.news-ul{
    font-size: 13px;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}
.right-column-image{
    width: 95%;
}

.more-news-cards-news{
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    gap: 1%;
    margin:10px 10px;

}

 

.footer-section-ul-sec{
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.main-section-top{
    background-color: rgb(227, 199, 100) !important;
    padding-left: 10px;
    margin-top: 50px;
   
}
.nav-icon{
    width: 100px;
    
}
.sports-section-ul{
    margin: 0px;
    padding: 0px;
   
    margin-bottom: x;
   
}
.sports-left-col-img{
    width: 400px;
}
.sports-left-col-h1{
    font-size: 25px;
   
}
.sports-left-col{
    margin-left: 20px;
    width:400px;
}
.sports-middle-col-img{
    width: 300px;
    height: 170px;
}
.sports-middle-col{
    margin-left: 20px;
}
.sports-middle-co-img-h6-container{
    width: 300px;
    margin-right: 10px;
}
.news-and-business-h1{
    color: red;
    margin-left: 5px; 
    font-weight: 800;
    padding: 0;
    margin: 0;
    margin: -10px 5px ;
}
.business-h1{
        color: #000000;
        margin-left: 5px; 
        font-weight: 700;
        padding: 0;
        margin: 0;
        margin: -10px 0px ;
    
}

.main-nav{
    position: sticky;
    top: 0; 
    z-index: 999;
    width: 100vw;
    background-color: white;
}
.videos-container{
    background-color: #000000;
    padding: 10px;
}
.logo-container ul li a:hover{
    background-color: rgb(230, 232, 234);
    text-decoration: none;
}
.logo-container-tra ul li a:hover{
    background-color: rgb(230, 232, 234);
}
.black-line::before{
    content: "";
    position: fixed;
    top: 19%;
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.black-line-news::before{
    content: "";
    position: absolute;
    top: 90%;
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.black-line-business::before{
    content: "";
    position: absolute;
    top: 90%;
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.black-line-innovation::before{
    content: "";
        position: absolute;
        top: 90%;
        width: 50px;
        height: 3px;
        background-color: #000000;
}
.black-line-culture::before{
    content: "";
    position: absolute;
    top: 90%;
    width: 50px;
    height: 3px;
    background-color: #000000;
}
.logo-container-tra{
    text-align: center;
    margin: 0;
   
    
}
.logo-tra{
    width: 100px;
    margin-top:10px;
    margin-bottom: 10px;

}

.black-line-tr::before{
    
    content: "";
    position: absolute;
    top: 90%;
    width: 50px;
    height: 3px;
    background-color: #000000;

}
.tra{
    margin: 10px 0px;
}
.travel-h1{
    font-size: "BBC Reith Serif", "Helvetica", "Arial", "sans-serif";
    margin: 5px;
}
.trvel-mid{
    width: 100vw;
    position: relative;
    
}
.travel-mid-img{
    width: 98%;
    margin: 1%;
  
   
    
}
.travel-card{
    margin: 10px;
    background-color: white;
    width: 40%;
    height: 30%;
    position: absolute;
    top: 120%;
    padding: 10px;
    margin: 5px;
    
  
}
.card-h1{
    font-size: 40px;
    font-family: "BBC Reith Serif", "Helvetica", "Arial", "sans-serif";
    
}
.tra-holder{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 3%;
    margin: 3%;
    column-gap: 4%;
}
.tra-img1{
    width: 88%;
}
#icon{
    font-size: 25px ;
    margin: 10px 0px 0px 15px;
}
.first-line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button1{
    border:none;
    background-color: #000000;
    color:white;
    padding: 5px;
    font-weight: 600;
    margin: 10px 20px 0px 0px;
}
.button2{
    color:#000000;
    background-color: white;
}
.button2:hover{
    background-color: #181212;
    color: white;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
.main-div{
    display: grid;
    grid-template-columns: 23% 49% 23%;
    gap: 10px;
}
.logo-bottom{
    width: 10%;
}

.more-news-cards{
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 23%;
    gap: 1%;
    margin:10px 10px;
}
.more-news-cards-h4{
    color: rgb(32, 34, 36);
    font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    text-decoration: none;
    letter-spacing: -0.36px;
}
.must-watch{
    background-color: #000000;
    padding: 5px;
}
.must-watch hr{
    background-color: rgb(255, 255, 255);
    height: 3px;
}
.must-watch h3{
    color: white;
    font-size: 25px;

}
.must-watch-video-container{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    gap: 1%;
    margin: 1%;
}
.must-watch-video-container h3{
    color: white;
    font-size: 20px;
}
.must-watch-video-container div{
    text-align: left;
    color: white;
}
.paris{
    display: grid;
    grid-template-columns: 29% 69%;
    column-gap: 1%;
    margin: 1%;
    align-items: center;
}
.paris-text{
text-align: left;
margin: 1% 0px;
}
.button3{
    border: 2px solid #000000;
    width: 30%;
}
.headings-container{
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 1%;
    margin-left:2% ;
}
.headings-container h4{
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
}
.Industry{
    display: grid;
    grid-template-columns: 65% 25%;
    column-gap: 1%;
    align-items: center;
    margin: 2%;
}
.four-column{
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    column-gap: 1%;
    margin: 1%;
}
.h3{
    margin-left: 1%;
}
.main-div2{
    display: grid;
    grid-template-columns: 23% 49% 23%;
    gap: 10px;

}
.right-column2{
    width: 100%;
   margin-left: 20px;

}
.d-flex1{
    display:flex;
}
.articles{
    display: grid;
    grid-template-columns: 18% 18% 19% 19% 21%;
}
.number{
    color: #555252;
    margin-right: 10px;
}
.headings-container h4{
    font-size: 18px;
}