 @media(min-width:1024px){
    .black-line::before {
        content: "";
        position: absolute;
        top: 90%;
        width: 50px;
        height: 3px;
        background-color: #000000;
    }
    .travel-card {
        margin: 10px;
        background-color: white;
        width: 40%;
        height: 30%;
        position: absolute;
        top: 129%;
        padding: 10px;
        margin: 5px;
    }
    
}
 



@media(max-width:768px){
    .card-h1 {
        font-size: 20px;
        font-family: "BBC Reith Serif", "Helvetica", "Arial", "sans-serif";
    }
    .travel-card {
        margin: 10px;
        background-color: white;
        width: 40%;
        height: 40%;
        position: absolute;
        top: 100%;
        padding: 10px;
        margin: 5px;
    }
    .nav-hr{
        display: none;
    }
    .logo {
        width: 20%;
        margin-top: 10px;
    }
    .main-div{
        display: grid;
        grid-template-columns: 30% 65%;
        gap: 10px;
    }
    .right-column {
        width: 320%;
        margin: 3%;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 2%;

    }
    .main-div2{
        display: grid;
        grid-template-columns: 23% 45% 23%;
        column-gap: 10px;

    }
    .more-news-cards {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 2;
    gap: 1%;
    margin: 10px 10px;
    }
    .paris {
        display: grid;
        grid-template-columns: 90%;
        margin: 1%;
        align-items: center;
    }
    .button3 {
        border: 2px solid #000000;
        width: 20%;
    }
    .headings-container {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        column-gap: 1%;
        row-gap: 3%;
        margin-left: 2%;
    }
    .headings-container h4 {
        font-size: 14px;
    }
    .anchor {
        color: black;
        text-decoration: none;
        font-size: 16px;
       
    }
    p{
        font-size: 15px;
            
    }
    .four-column {
        display: grid;
        grid-template-columns: 48% 48%;
        grid-template-rows: 2;
        row-gap: 1%;
        column-gap: 1%;
        margin-left: 1%;
    }

    .more-news-cards-news {
        display: grid;
        grid-template-columns: 49% 49%;
        gap: 1%;
        margin: 10px 10px;
    }
    .paris2 {
        display: grid;
        grid-template-columns: 99%;
        column-gap: 1%;
        margin: 1%;
        align-items: center;
    }
   
}
@media (min-width: 320px) and (max-width: 430px) {
    .headings-container-for-news {
        display: grid;
        grid-template-columns: 99%;
        row-gap: 3%;
        margin: 1%;
    }
        .nav-button-container{
            display: none;
        }
        .nav-icon-container{
            display: flex;
        }
        #icon {
            font-size: 20px;
            margin: 10px 0px 0px 15px;
        }
         .logo {
            width: 30%;
            margin-top: 10px;
            margin-left:-18% ;
         }
        
        .first-line {
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .main-div {
            display: grid;
            grid-template-rows: repeat(3, 0fr);
            grid-template-columns: 1fr;
            row-gap: 10px;
            
        }
        .left-column-image {
            width: 98%;
        }
        .left-column {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 1%;
        }
        .middle-column {
            width: 98%;
            margin: 1%;
        }
        .right-column {
            width: 100%;
            display: grid;
            grid-template-rows: repeat(3,1fr);
            grid-template-columns: 1fr;
            
        }
        .d-flex1 {
            display: grid;
        }
        .bottom-cards {
            width: 98%;
            margin: 1%;
        }
        .main-div2 {
        display: grid;
        grid-template-rows: repeat(3, 0fr);
        grid-template-columns: 1fr;
        }
        .left-column-image {
            width: 90%;
            margin: 0 auto;
        }
        .more-news-cards {
            display: grid;
            grid-template-columns: 100%;
            gap: 1%;
            margin: 10px 10px;
        }
        .must-watch-video-container{
            display: grid;
            grid-template-columns: 48% 48%;
            gap: 1%;
            margin: 1%;
           
        }
        .must-watch-video-container h3{
            font-size: 15px;
        }
        .must-watch-video-container p{
            font-size: 10px;
        }
        .button3 {
            border: 2px solid #000000;
            width: 40%;
        }
        
        
        .must-watch {
            background-color: #000000;
            padding: 5px;
            margin-top: 20%;
           
        }
        .headings-container {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 1%;
            row-gap: 3%;
            margin-left: 2%;
        }
        .Industry {
            display: grid;
            grid-template-columns: 100%;
            column-gap: 1%;
            align-items: center;
            margin: 2%;
        }
        .four-column {
            display: grid;
            grid-template-columns: 100%;
            row-gap: 1%;
            column-gap: 1%;
            margin-left: 1%;
        }
        .footer-section {
            margin: 20% 1%;
        }
        .logo-bottom {
            width: 20%;
        }
        .left-column-h1 {
            font-size: 20px;
            font-family: "BBC Reith Serif", Helvetica, Arial, sans-serif;
            font-weight: 500;
            color: #000000;
            text-decoration: none;
            width: 95%;
            margin: 2%;
        }
        
        .more-news-cards-news {
            display: grid;
            grid-template-columns: 100%;
            gap: 1%;
            margin: 10px 10px;
        }
        .small-device{
            margin-top: 50px;
        }
        .small-device2{
            margin-top: 150px;
        }
        .right-column2 {
            width: 100%;
            margin: 1%;
        }
        .paris2 {
            display: grid;
            grid-template-columns: 99%;
            column-gap: 1%;
            margin: 1%;
            align-items: center;
        }
        .more-news-3 {
            display: grid;
            grid-template-columns: 99%;
            gap: 1%;
            margin: 2%;
        }
        #house {
            font-size: 15px;
        }
        .right-column {
            width: 100%;
            display: grid;
            grid-template-rows: repeat(3, 0fr);
            grid-template-columns: 1fr;
        }
       .must-watch-3, .must-watch-4{
        display: none;
       }
       .headings-container2 {
        display: grid;
        grid-template-columns: 99%;
        row-gap: 7%;
        margin: 2%;
    }
    .travel-card {
        margin: 10px;
        background-color: white;
        width: 60%;
        height: 30%;
        position: absolute;
        top: 48%;
        padding: 10px;
        margin: 5px;
    }
    .card-h1{
        font-size: 14px;
    }
    .travel-card p{
        font-size: 10px;
    }
    .tra-holder {
        display: grid;
        grid-template-columns: 98%;
        margin: 1%;
        column-gap: 1%;
    }
    .eath-banner {
        display: grid;
        grid-template-columns: 99%;
        margin: 1%;
        column-gap: 1%;
    }
    .live-card {
        display: grid;
        grid-template-columns: 100%;
        column-gap: 1%;
        margin-bottom: 5%;
    }
    .button3 {
        border: 2px solid #000000;
        width: 50%;
        margin-bottom: 5%;
    }

    }
   
